.imgFooter {
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: none;
}
.listaFooter {
    display:flex;
    gap: 10px;

}

.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0e5397;
    color: #9aa3ac;
    border-top: 1px solid var(--vermelhoClaro);
    padding: 20px;
}